body {
  background: rgb(237, 240, 245);
}

.App .UIPage_LoggedOut .global_container {
  padding-top: 62px;
}
.App .UIPage_LoggedOut .global_container .fb_content {
  margin: 0 auto;
  width: 980px;
}

.App
  .UIPage_LoggedOut
  .global_container
  .fb_content
  .fb_layout_left
  .fb_logo_wrap {
  padding: 112px 0 10px;
}

.App
  .UIPage_LoggedOut
  .global_container
  .fb_content
  .fb_layout_left
  .fb_logo_wrap
  .fb_logo {
  height: 106px;
  margin: -28px;
}

.App
  .UIPage_LoggedOut
  .global_container
  .fb_content
  .fb_layout_left
  .fb_subscript {
  font-size: 29px;
}

.App .UIPage_LoggedOut .global_container .fb_content .fb_layout_left {
  width: 55%;
}

.App .UIPage_LoggedOut .global_container .fb_content .fb_layout_right {
  flex-grow: 2;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.App
  .UIPage_LoggedOut
  .global_container
  .fb_content
  .fb_layout_right
  .fb_layout_right_wrap {
  padding: 10px 18px;
}

.App
  .UIPage_LoggedOut
  .global_container
  .fb_content
  .fb_layout_right
  .fb_layout_right_wrap
  .form-group
  form
  > div {
  padding: 6px 0;
}

.App
  .UIPage_LoggedOut
  .global_container
  .fb_content
  .fb_layout_right
  .fb_layout_right_wrap
  .form-group
  form
  > div
  input {
  width: 100%;
  font-size: 17px;
  padding: 14px 16px;
  border-radius: 6px;
  background: #ffffff;
  border: 1px solid #dddfe2;
  outline: none;
}

.App
  .UIPage_LoggedOut
  .global_container
  .fb_content
  .fb_layout_right
  .fb_layout_right_wrap
  .form-group
  form
  > div
  input:focus {
  border-color: #1b74e4;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1b74e4;
}

.App
  .UIPage_LoggedOut
  .global_container
  .fb_content
  .fb_layout_right
  .fb_layout_right_wrap
  .btn_login_wrap {
  padding: 6px 0;
}

.App
  .UIPage_LoggedOut
  .global_container
  .fb_content
  .fb_layout_right
  .fb_layout_right_wrap
  .btn_login_wrap
  button {
  background: #1877f2;
  border: none;
  border-radius: 6px;
  width: 100%;
  line-height: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.App
  .UIPage_LoggedOut
  .global_container
  .fb_content
  .fb_layout_right
  .fb_layout_right_wrap
  .forgotten_password_wrap {
  padding-top: 6px;
}

#popup-root {
  pointer-events: none;
}

#popup-root .popup-content {
  background: #fff;
  pointer-events: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 500px;
}

#popup-root .popup-content .body_popup .form-group input {
  width: 100%;
  font-size: 17px;
  padding: 14px 16px;
  border-radius: 6px;
  background-color: #f5f6f7;
  border: 1px solid #dddfe2;
  outline: none;
  margin-bottom: 12px;
}

#popup-root .popup-content .body_popup .form-group input:focus {
  border-color: #1b74e4;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1b74e4;
}

#popup-root .popup-content .body_popup .form-group button:hover {
  background: linear-gradient(#79bc64, #578843);
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1 > span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  font-family: "Cabin", sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}

.l_f {
  fill: #fff;
}
.container {
  background: #f0f2f5;
}

.container nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.container nav .leftside_nav .search_bar .input_search {
  background: #3a3b3c;
  outline: none;
}

.container nav .wrapper .centerside_nav {
  transform: translateX(-50%);
}

.container nav .wrapper .centerside_nav > div {
  margin: 0 1rem;
  padding: 0 1.5rem;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 27px;
}

.container nav .wrapper .centerside_nav > div .active {
  color: #2374e1;
}

.container .body_content {
  width: 500px;
  margin: 0 auto;
}

.container .body_content .UserPostContainer {
  border-radius: 10px;
}

.container .body_content .UserPostContainer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container .body_content .UserPostContainer .wrapper {
  display: flex;
  align-items: center;
}

.container .body_content .UserPostContainer .wrapper .input_symbols {
  width: 100%;
  padding: 8px 12px;
  background: #707373;
  border-radius: 999px;
  color: darkgray;
}

.container .body_content .UserPostContainer .wrapper .input_symbols:hover {
  background: #3a3b3c;
}

#popup-root .popup-content .body_popup .btn_post {
  background: #2374e1;
  color: #fff;
  padding: 8px 0;
  border-radius: 10px;
}

.App .container .body_content .container_post .content .post_item {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.App
  .container
  .body_content
  .container_post
  .content
  .post_item
  .post_reaction
  .wrapper
  > div {
  padding: 5px 0;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.App
  .container
  .body_content
  .container_post
  .content
  .post_item
  .post_reaction
  .wrapper
  > div:hover {
  background: darkgray;
}

.App .container .body_content .container_post .layer_hidden {
  background: rgba(229, 232, 232, 0.8);
}

.App
  .container
  .body_content
  .container_post
  .content
  .post_item
  .post_reaction
  .wrapper
  > div
  span {
  font-size: 16px;
  margin-left: 10px;
}

.App
  .container
  .body_content
  .container_post
  .content
  .post_item
  .wrapper_post {
  padding-top: 5px;
}

.App
  .container
  .body_content
  .container_post
  .content
  .post_item
  .wrapper_post
  .top_post
  .top_right_post {
  margin-left: 5px;
}

.App
  .container
  .body_content
  .container_post
  .content
  .post_item
  .wrapper_post
  .top_post
  .top_right_post
  .time_post {
  font-size: 12px;
}

.App
  .container
  .body_content
  .container_post
  .content
  .post_item
  .wrapper_post
  .content_post
  .content_post_wrapper {
  text-align: justify;
}

textarea {
  outline: none;
}

.App
  .container
  .body_content
  .container_post
  .content
  .post_item
  .wrapper_post
  .post_reaction
  .input_comment
  .text_input
  .btn_func {
  margin: 0 3px;
}

.App
  .container
  .body_content
  .container_post
  .content
  .post_item
  .wrapper_post
  .post_reaction
  .input_comment
  .text_input
  .text_input_full_side
  .right_tool
  .btn_submit {
  padding: 5px;
  border-radius: 999px;
}

.App
  .container
  .body_content
  .container_post
  .content
  .post_item
  .wrapper_post
  .post_reaction
  .input_comment
  .text_input
  .text_input_full_side
  .right_tool
  .btn_submit:hover {
  background: #bec4c4;
}

.App .container .body_content .container_post .content .spinner path {
  stroke: #578843;
}

#btn_showCMT:hover {
  text-decoration: underline;
  cursor: pointer;
}
